<style>
  .message-content {
    font-family:Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 1.01rem;
    line-height: 1.4rem;
    color: #333;
  }
</style>


<div class="message-content">
  <p>Olá, {{name}}</p>
  <p>Parece que uma troca de senha para sua conta foi solicitada.</p>
  <p>Se foi você, então clique no link abaixo para escolher um nova senha:</p>
  <p>
    <a href="{{link}}">Resetar minha senha</a>
  </p>
  <p>Se não foi você, então desconsidere esse email!</p>
  <p>
    Obridago!<br />
    <strong>Equipe GoBarber</strong>
  </p>
</div>
